@charset "ISO-8859-1";
<!-- ULTIMO COMENTARIO-->
*{
margin: 0px;
padding: 0px;
}
body {
	background-color: #b63821;
	text-align: center;
}

.log{
	 
	 margin-top: 0px;
	 width: 100%;
	 background-image: url("images/logfondo.gif");
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	 align-items: center;
	 display: flex;
	 height: 97vh;
	 padding: auto;
}
.input1:hover{
	width: 80%;
}
.log1{	 
	border-radius: 20px;
	 width: 22%;
	 background-color: white;
	 margin: auto;
	 padding: 20px 30px;
}
.log1:hover{
	 border-top: 6px solid #b63821;
	 border-bottom: 6px solid #b63821;
	 border-radius: 40px;
}

.input1{
	color:white;
	border-radius: 5px;
	border: 3px solid #b63821;
	width: 75%;
	margin: 12px;
    padding: 8px;
    background-color: grey;
}
#inp2{
	margin-bottom: 0px;
}
.boton {
	color: white;
	width: 65%;
	height: 25px;
	border: none;
    text-align: center;
    margin-bottom: 15px;
    padding: 2px;
    background-color: #b63821;
	
}
#ideal:hover{
	border-left: 4px solid #b63821;
	border-right: 4px solid #b63821;
	font-size: 35px;
}
.boton:hover{
	background-color: #ac2b2b;
	border: 2px solid #b63821;
}
#principal{
	text-decoration: none;
	color: inherit;
}
#status{
	text-align: Left;
	padding: 5px;
	margin: 5px;
}
::placeholder{
	color:#f8f8f8;
}
