@charset "ISO-8859-1";
<!-- ULTIMO COMENTARIO-->
body{
	text-align: center;
	background-color: white;
	
}

*{
	margin: 0;
	padding: 0;
}

nav.op{
	margin: 0;
	padding: 5px;
	width: 100%;
	text-align: center;
	background-color:black;
}
ul{
	list-style-type: none;
	
}
li{
    display: inline-block;
	width: 13%;
}
li a{
	margin: 10px;
	color: #ffffff;
	display: block;
	padding: 6px 6px;
	text-decoration: none;
	text-align: center;
}
li a:hover {
	background-color: white;
	color: black;
	border-radius: 10px;
}
#l{
	border-radius: 20px;
	background-color: #b63821;
}



h1{
	color:white;
}

h2{
	padding: 3px;
	border-radius:5px;
	background-color: #b63821;
	color:white;
	text-align: center;
}

fieldset{
	margin-top: 60px;
	margin-bottom: 80px;
	margin-left: auto;
	margin-right:auto;
	width: 90%;
	border-bottom-color: #b63821;
	background-color: #303030;
	border-radius:10px;
}

legend {
     display: table; 
     min-width: 0px;
     max-width: 70%;
     position: relative;
     margin: auto;
     padding: 5px 20px;
     color: white;
     font-size: 20px;
     text-align: center;
}
div{
	width: 40%;
	margin: 10px;
	color: #ffffff;
	display: inline-block;
	padding: 6px 6px;
	text-decoration: none;
	text-align: justify;
}
label{
	
	display: inline-block;
	width:150px;
	
}

.izq {
	float: left;
}

.btn1{
	color: white;
	background-color:#b63821;
	margin-right: 1px;
	padding: 5px 8px;
	border-radius: 5px;
}
.btn1:hover {
	background-color:#ffe6e6;
	color: black;
}

label {
	width: auto;
	color: white;
}

 /*div, th, td, table {
    padding: 10px;
    border: 1px solid;
}*/


table{
	color:white;
	
}

.izq {
	float: left;
}

.der {
	float: right;
}

.pad {
	margin: 20px;
}

.centr {
	margin: 0 20%;
	/* border: 1px solid;*/
	text-align: center;
}

.btnV {
	height: 60px;
	width: 120px;
}

#tablaV {
	margin-top:25px;
	margin-bottom:50px;
	margin-left: auto;
	margin-right: auto;
}

#productos{
	width: 100%;
}
#resultados{
	float:right;
}
.codpr{
	width: 100px;
}
.peq{
	width: 55px;
}

.btn:hover {
	background-color:#ffe6e6;
	color: black;
}
.l1{
	padding: 0px;
}
/*DANIEL NUEVO*/
.inptransp{
	color:white;
	width: 75px;
	background: transparent;
    border: none;
}
.inptranspp{
	color:white;
	width: 50px;
	background: transparent;
    border: none;
       
    border-bottom: white 2px solid;
}

.blue{
	border: line;
	color: green;
}